In [1]:
print("Welcome to your Cult.fit Data Cleaning Notebook!")

Welcome to your Cult.fit Data Cleaning Notebook!

In [2]:
# Import Libraries
import pandas as pd
import numpy as np

In [3]:
#Read the CSV Files
df_april_may = pd.read_csv("Classes April-May 2018.csv")
df_june = pd.read_csv("Classes June 2018.csv")

In [4]:
# View the first few rows
print(df_april_may.info())
print(df_june)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177 entries, 0 to 2176
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           2177 non-null   object
 1   ActivityDescription                      2177 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  2177 non-null   object
 3   BookingStartTime                         2177 non-null   object
 4   MaxBookees                               2177 non-null   int64
 5   Number Booked                            2177 non-null   int64
 6   Price (INR)                              2159 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 119.2+ KB
None
     ActivitySiteID     ActivityDescription  \
0               BRP  20:20:20  9.30-10.30am
1               BRP  20:20:20  9.30-10.30am
2               BRP  20:20:20  9.30-10.30am
3               BRP  20:20:20  9.30-10.30am
4               BRP  20:20:20  9.30-10.30am
...             ...                     ...
1107            TSC      Zumba  6.30-7.30pm
1108            TSC      Zumba  6.30-7.30pm
1109            TSC           Zumba - 6-7pm
1110            TSC           Zumba - 6-7pm
1111            TSC           Zumba - 6-7pm

     BookingEndDateTime (Month / Day / Year) BookingStartTime  MaxBookees  \
0                                  01-Jun-18          9:30:00          35
1                                  08-Jun-18          9:30:00          35
2                                  15-Jun-18          9:30:00          35
3                                  22-Jun-18          9:30:00          35
4                                  29-Jun-18          9:30:00          35
...                                      ...              ...         ...
1107                               18-Jun-18         18:30:00          18
1108                               25-Jun-18         18:30:00          18
1109                               07-Jun-18         18:00:00          50
1110                               14-Jun-18         18:00:00          50
1111                               21-Jun-18         18:00:00          50

      Number Booked  Price (INR)
0                28          499
1                35          499
2                31          499
3                32          499
4                19          499
...             ...          ...
1107              9         1299
1108              9         1299
1109             16         1299
1110             13         1299
1111             12         1299

[1112 rows x 7 columns]

In [5]:
# Combine both datasets into one
df = pd.concat([df_april_may, df_june], ignore_index=True)

# Check basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3289 entries, 0 to 3288
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           3289 non-null   object
 1   ActivityDescription                      3289 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  3289 non-null   object
 3   BookingStartTime                         3289 non-null   object
 4   MaxBookees                               3289 non-null   int64
 5   Number Booked                            3289 non-null   int64
 6   Price (INR)                              3271 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 180.0+ KB

In [6]:
# To Check missing values 
Missing_data = df.isnull().mean() * 100
print(Missing_data )

#bRemove Duplicates if any present
df.drop_duplicates(inplace=True)

#Drop rows where Price (INR) is missing
df = df.dropna(subset = ['Price (INR)'])

# Confirm no missing values left
print(df.isnull().sum())

ActivitySiteID                             0.000000
ActivityDescription                        0.000000
BookingEndDateTime (Month / Day / Year)    0.000000
BookingStartTime                           0.000000
MaxBookees                                 0.000000
Number Booked                              0.000000
Price (INR)                                0.547279
dtype: float64
ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
dtype: int64

In [7]:
# Clean Columns Names

# Remove extra space from column names
df.columns = df.columns.str.strip()

# Convert booking date to datetime format
df['BookingEndDateTime'] = pd.to_datetime(
    df['BookingEndDateTime (Month / Day / Year)'],
    format='%d-%b-%y',
    errors='coerce')

# Create new date features
df['DateOfWeek'] = df['BookingEndDateTime'].dt.day_name()
df['Month'] = df['BookingEndDateTime'].dt.month
df['Week'] = df['BookingEndDateTime'].dt.isocalendar().week

In [8]:
# Create Occupancy Rate to Measures how full a class is
df['OccupancyRate'] = df['Number Booked'] / df['MaxBookees']
df['OccupancyRate'] = df['OccupancyRate'].round(2)

In [9]:
# Save cleaned data to CSV
df.to_csv("Cleaned_Data_FitnessClasses.csv", index=False)

In [10]:
df.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR),BookingEndDateTime,DateOfWeek,Month,Week,OccupancyRate
0,HXP,20-20-20 2.45pm-3.45pm,08-Apr-18,14:45:00,25,12,499.0,2018-04-08,Sunday,4,14,0.48
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0,2018-04-15,Sunday,4,15,0.60
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0,2018-04-22,Sunday,4,16,0.56
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0,2018-04-29,Sunday,4,17,0.36
4,HXP,20-20-20 2.45pm-3.45pm,06-May-18,14:45:00,25,7,499.0,2018-05-06,Sunday,5,18,0.28